body {
  font-family: Arial, sans-serif;
  background-color: #a7c5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  background-color: #605eff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: #fdfdfd;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fbfbfb;
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  
}

.register-form input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  margin-bottom: 20px;
}

.register-form input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #0010f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 50px;
}

button:hover {
  background-color: #000ea3;
}
